body {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bolder;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text{
  color: rgb(0, 0, 0);
  margin: 0px;
}

.canvas-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myCanvas {
  background-color: rgb(255, 255, 255);
}

.keyboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keys-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter-key, .function-key{
  font-size: 24px;
  width: 44px;
  height:60px;
  border-radius: 4px;
  margin : 10px 10px 4px 10px;
  padding: 0px 4px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  cursor: pointer;
}
.neutral{
  background-color:  rgb(190, 190, 190);
}
.neutral:hover, .function-key:hover{
  background-color:  rgb(206, 206, 206);
}
.neutral:active, .function-key:active{
  background-color:  rgb(230, 230, 230);
}


.correct{
  background-color: rgb(108,169,101);
}
.correct:hover{
  background-color: rgb(134,195,127);
}
.correct:active{
  background-color: rgb(158,219,151);
}


.almost{
  background-color: rgb(200,182,83);
}
.almost:hover{
  background-color: rgb(226,208,109);
}
.almost:active{
  background-color: rgb(250,232,133);
}


.wrong{
  background-color: rgb(120,124,127);
}
.wrong:hover{  background-color: rgb(146,150,153);
}
.wrong:active{  background-color: rgb(170,174,177);
}



.function-key {
  padding: 0px 30px;
}


.text-white{
  color: white;
}



